@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --color-blacktext: #171717;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-200: #ddd6fe;
  --color-violet-300: #c4b5fd;
  --color-violet-400: #a78bfa;
  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;
  --color-violet-700: #6d28d9;
  --color-violet-800: #5b21b6;
  --color-violet-900: #4c1d95;
  --color-violet-950: #2e1065;

  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-200: #f5d0fe;
  --color-fuchsia-300: #f0abfc;
  --color-fuchsia-400: #e879f9;
  --color-fuchsia-500: #d946ef;
  --color-fuchsia-600: #c026d3;
  --color-fuchsia-700: #a21caf;
  --color-fuchsia-800: #86198f;
  --color-fuchsia-900: #701a75;
  --color-fuchsia-950: #4a044e;

  --animate-rotate: rotate 10s linear infinite;

  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@property --border-angle{
	  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

::selection {
	@apply text-white bg-violet-500;
	
  }
*::-webkit-scrollbar-thumb{
	border-radius: 20px;
}
.dark *{
	scrollbar-color: #c4b5fd #2e1065;
	scrollbar-width: thin;
}
 *{
	scrollbar-color: #c4b5fd #ede9fe;
	scrollbar-width: thin;
	box-sizing: border-box;
}


pre, .dark pre {
	scrollbar-color: #686868 #424242;
	scrollbar-width:initial;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(10);
	}

	100% {
		transform: rotate(-360deg) scale(10);
	}
}

a.inline-block.leading-5.pl-12{
	@apply text-sm;
}
#toc-list a[href="#"]{
	@apply  font-bold dark:text-white text-blacktext;
}
.markdown h2 {
	@apply dark:text-white text-blacktext  text-3xl font-bold  mt-16 mb-10;
}
.markdown h3 {
	@apply text-2xl font-bold dark:text-white text-blacktext mt-6 mb-4;
}
.markdown h4 {
	@apply text-xl dark:text-white text-blacktext font-bold  mt-6 mb-4;
}
.markdown h5 {
	@apply text-lg font-bold dark:text-white text-blacktext mt-6 mb-4;
}
.markdown h6 {
	@apply text-base font-bold dark:text-white text-blacktext mt-6 mb-4;
}


.markdown p {
	@apply tracking-normal font-montserrat text-pretty text-xl max-md:text-lg text-blacktext dark:text-gray-200 mb-8 leading-8;
}

.markdown a {
	@apply text-xl max-md:text-lg font-semibold dark:text-fuchsia-300! text-violet-500! underline hover:text-fuchsia-400! transition-all;
}

.markdown ol{
	@apply list-decimal mb-8;
}
.markdown ul{
	@apply list-disc mb-8;
}
.markdown ul, .markdown ol{
	@apply text-xl dark:text-gray-200 text-blacktext  max-md:text-lg  pl-4 pb-0;
}

.markdown li {
	@apply text-xl dark:text-gray-200 text-blacktext  max-md:text-lg py-1;
}

.markdown hr {
	@apply dark:text-violet-300/50 text-blacktext/30;

}

.markdown blockquote {
	@apply py-4 border-l-4 border-violet-500 pl-4 italic text-blacktext dark:text-violet-200 bg-violet-50 dark:bg-violet-900/20 backdrop-blur-lg mb-8;
}

.markdown blockquote p {
	@apply mb-0;
}

.markdown :not(pre)>code {
	@apply px-2 py-0.5;
}

.markdown pre {
	@apply  w-full h-full px-8 py-12   ;
} 

.markdown strong{
	@apply font-bold;
}
.code-block-efe {
	@apply  w-full rounded-lg h-auto overflow-hidden my-8 ;
}
.copy-code svg{
	@apply size-5;
}
.copy-code{
	@apply absolute  text-slate-400 text-xs cursor-pointer bg-slate-600/50 border hover:bg-transparent border-slate-500 p-2.5 rounded-md top-4 right-4 flex transition-all duration-300 max-md:opacity-100 md:opacity-0 group-hover:opacity-100 items-center justify-center;
}
  
.contains-task-list {
	@apply space-y-2;
  }	
  
  .task-list-item {
	@apply flex items-center gap-4;
  }
  
  .task-list-item input[type="checkbox"] {
	@apply w-5 h-5 accent-violet-300;
  }
  
  .task-list-item input[type="checkbox"]:checked + span {
	@apply line-through text-violet-600;
  }
  
  .task-list-item span {
	@apply text-gray-800;
  }

.expanded {
	@apply transition-all duration-700 w-full flex! flex-col! left-0 top-full mt-4 absolute shadow-xl  dark:text-zinc-300 bg-linear-to-t from-white to-white/90 dark:from-zinc-950 dark:to-zinc-950/80 bg-clip-padding backdrop-filter backdrop-blur backdrop-saturate-100 backdrop-contrast-100;
}



.hamburger-icon {
	display: none;
  }
  
  .hamburger .bars-icon {
	display: block;  /* Show 'bars' icon by default */
  }
  
  .hamburger.active .bars-icon {
	display: none;  /* Hide 'bars' icon when .active is present */
  }
  
  .hamburger.active .xmark-icon {
	display: block;  /* Show 'xmark' icon when .active is present */
  }
  

/* Navigation bar styles */
.hamburger {

	cursor: pointer;
}

.nav-links {
	display: none;
	
}


@media screen and (min-width: 768px) {

	.nav-links {
		display: flex;
	}

	.hamburger {
		display: none;
	}


}


.blur-circle::after {
	content: "";
	display: block;
	width: 400px;
	height: 400px;
	background: #a78bfa40;
	bottom: -400px;
	right: -300px;
	position: fixed;
	z-index: -1;
	border-radius: 50%;
	filter: blur(159px);

}


.blur-circle {
	background-color: rgba(139, 92, 246, 0.29);
	position: absolute;
	width: 200px;
	height: 200px;
	top: 100px;
	right: 100px;
	border-radius: 999px;
	filter: blur(150px);
	overflow: hidden;
	z-index: -1;
}

.dark .blur-circle::after {
	content: "";
	display: block;
	width: 500px;
	height: 500px;
	background: #fdf4ff25 !important;
	bottom: -150px;
	right: -150px;
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	filter: blur(10px);

}
